<launch>

  <node name="broadcaster" pkg="robot_test" type="robot_test_broadcaster.py" respawn="false" > </node> 

  <node name="listener1" pkg="robot_test" type="robot_test_listener.py" respawn="false" output="screen"  > </node>
  
    <node name="listener2" pkg="robot_test" type="robot_listener.py" respawn="false" output="screen"  > </node>
</launch>
